{
  "presets": [
    ["env", {
        "modules": false ,
        "targets": {"browsers": ["> 1%","last 2 versions", "ie > 8"]},
        "useBuiltIns": true,//require Only once babel-polify(will be replace by smaller..)
        "debug": true
        }],
    ["stage-0"],
    ["react"]
  ],
  "plugins": ["transform-runtime"]
}