@font-face {
  font-family: MyFont;
  src: url(./assets/my-font.ttf);
  src: local('☺'),
        url('./assets/my-font.eot?#iefix') format('embedded-opentype'),  
        /* url('fonts/webfont.woff') format('woff'),   */
        url(./assets/my-font.ttf) format('truetype');
        /* url('fonts/webfont.svg#webfontOTINA1xY') format('svg');   */
}

div {
  color: red;
  font-family: MyFont;
  background: url(./assets/icon.jpg);
}

body {
  background-color: yellow;
}